/************************
 * COLORS
 ************************/
.card header {
  background: #cccccc;
  position: relative;
  font-size: 14px;
  line-height: 25px;
  height: 27px; }

.abjuration header {
  background: #cccccc; }

.abjuration header > div > span {
  color: #333333; }

.abjuration header, .abjuration header a, .abjuration header .level, .abjuration .somatic .somatic, .abjuration .verbal .verbal, .abjuration .material .material {
  color: #333333;
  border-color: #333333 !important; }

.alteration header {
  background: #00c2c2; }

.alteration header > div > span {
  color: white; }

.alteration header, .alteration header a, .alteration header div, .alteration .somatic .somatic, .alteration .verbal .verbal, .alteration .material .material {
  color: white;
  border-color: white !important; }

.summoning header {
  background: #c200c2; }

.summoning header > div > span {
  color: white; }

.summoning header, .summoning header a, .summoning header div, .summoning .somatic .somatic, .summoning .verbal .verbal, .summoning .material .material {
  color: white;
  border-color: white !important; }

.charm header {
  background: #00c200; }

.charm header > div > span {
  color: #333333; }

.charm header, .charm header a, .charm header div, .charm .somatic .somatic, .charm .verbal .verbal, .charm .material .material {
  color: #333333;
  border-color: #333333 !important; }

.illusion header {
  background: #0000c2; }

.illusion header > div > span {
  color: white; }

.illusion header, .illusion header a, .illusion header div, .illusion .somatic .somatic, .illusion .verbal .verbal, .illusion .material .material {
  color: white;
  border-color: white !important; }

.evocation header {
  background: #c20000; }

.evocation header > div > span {
  color: white; }

.evocation header, .evocation header a, .evocation header div, .evocation .somatic .somatic, .evocation .verbal .verbal, .evocation .material .material {
  color: white;
  border-color: white !important; }

.divination header {
  background: #ffd700; }

.divination header > div > span {
  color: #333333; }

.divination header, .divination header a, .divination header div, .divination .somatic .somatic, .divination .verbal .verbal, .divination .material .material {
  color: #333333;
  border-color: #333333 !important; }

.necromancy header {
  background: #666666; }

.necromancy header > div > span {
  color: #eeeeee; }

.necromancy header, .necromancy header a, .necromancy header div, .necromancy .somatic .somatic, .necromancy .verbal .verbal, .necromancy .material .material {
  color: #eeeeee;
  border-color: #eeeeee !important; }

.blessing header {
  background: green; }

.blessing header > div > span {
  color: #eeeeee; }

.blessing header, .blessing header a, .blessing header div, .blessing .somatic .somatic, .blessing .verbal .verbal, .blessing .material .material {
  color: #eeeeee;
  border-color: #eeeeee !important; }

.chant header {
  background: darkgoldenrod; }

.chant header > div > span {
  color: #eeeeee; }

.chant header, .chant header a, .chant header div, .chant .somatic .somatic, .chant .verbal .verbal, .chant .material .material { 
  color: #eeeeee;
  border-color: #eeeeee !important; }

.miracle header {
  background: crimson; }

.miracle header > div > span {
  color: #eeeeee; }

.miracle header, .miracle header a, .miracle header div, .miracle .somatic .somatic, .miracle .verbal .verbal, .miracle .material .material { 
  color: #eeeeee;
  border-color: #eeeeee !important; }


body {
  font-family: Roboto,tahoma,verdana,arial,sans-serif;
  padding: 10px; }

.clearfix {clear:both;}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.card {
  width: 350px;
  float: left;
  margin-right: 20px;
  border: 1px solid #000000;
  font-size: 11px;
  margin-bottom: 25px;
  color: #333333;
  position: relative; }
  .card a {
    color: #333333;
    text-decoration: none; }
	.card img.star {
		display: block;
		position: relative;
		top: 0px;
		left: 0px;
		width: 20px;
		height: 19px}
  .card.card-backs {
    border-color: #ffffff;
    float: right; }
    .card.card-backs section, .card.card-backs header {
      visibility: hidden; }


.components {
  float: right;
  margin-right: 5px; }

.components span {
  display: none; }

.components.verbal .verbal, .components.somatic .somatic, .components.material .material {
  display: inline-block; }

header > div > span {
  color: #aaaaaa;
  padding: 0px 4px;
  margin: 0px 2px;
  font-weight: bold; }

.somatic .somatic {
  color: #333333; }

.verbal .verbal {
  color: #333333; }

.material .material {
  color: #333333; }

.level {
  float: left;
  border-top: 0px;
  border-left: 0px;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-bottom-right-radius: 25px;
  height: 25px;
  width: 25px;
  text-indent: -5px;
  text-align: center;
  font-weight: bold;
  background: transparent;
  color: inherit; }

.name {
  font-weight: bold;
  text-indent: 5px; }

.wild .name {
  font-style: italic; }

section {
  padding: 5px 10px;
  padding-bottom: 0px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0px;
  height: 22px;
  line-height: 11px; }

dl {
  margin: 0px; }

dl.half {
  float: left;
  width: 50%; }
dl.bot dd {
  height: 15px;
}

dl.full {
  clear: both;
  height: 35px; }
dl.label {
  clear: both;
  position: relative;
}
dl.label dd {
  position: absolute;
  top: 0px;
  right: 0px;
}

.description {
  padding: 5px 0px;
  margin-bottom: 10px;
  background: #aaaaaa;
  text-align: justify; }

.description-content {
  height: 190px;
  overflow: auto;
  padding: 0px 5px;
}

.description-residue {
  height: 26px;
  overflow: auto;
  padding: 0px 5px;
}

.consumed {
  font-style: italic; }

p:first-child {
  margin-top: 0px; }

p:last-child {
  margin-bottom: 0px; }

 h3.char {
  text-transform: uppercase;
  margin-bottom: 0px;
 }
 
 ul.char {
   margin-top: 0px;
 }
  
#menu {
  margin: 10px;
  height: auto;
  font-size: 14px; }
  #menu div {
    background: none; }
    #menu div a {
      color: #c20000;
      text-decoration: none;
      padding: 0px 3px;
      margin: 0px 3px; }

	  
#stats table td {padding: 0px 15px; border-left: 1px solid black;}
#stats table td:first-child {padding-left: 0px; border-left: 0px;}
#stats table label { margin-right: 5px;}
#stats table label::after {content: ":";}
#stats table .name label, #stats table .name input { width:40px; padding:0px; display: inline-block;}

#saves, #encumberance {float: left; margin-right: 20px;}

.basic-info label {
	width: 150px;
	text-align: right;
}
.basic-info input {
	width: 100px;
}

#ledgend {
  height: 25px;
  position: fixed; 
  z-index: 99;
  background: white !important;
  top: 0px;
  left: 0px;
  padding-top: 5px;
  padding-left: 18px;
}
#ledgend div {
  display: inline-block;
  width: 190px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border: 1px solid black;
}
#ledgend div header {
  padding: 2px 4px;
}

.spellJSON {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}